/*
html {
	font-weight:        bold;
    font-size: 82%;
}


body {
    font-family:        sans-serif;
    padding:            0;
    margin:             0.5em;
    color:              #000000;
    background:         #FFFFFF;
}
*/
th {
    font-weight:        bold;
	font-size: 			100%;
    color:              #000000;
    background:         #D3DCE3;
}


table caption,
table th,
table td {
    padding:            0.1em 0.5em 0.1em 0.5em;
    margin:             0.1em;
    vertical-align:     top;
}


/* odd items 1,3,5,7,... */
table tr.odd th,
.odd {
	font-size: 			100%;
    background: #E5E5E5;
}

/* even items 2,4,6,8,... */
table tr.even th,
.even {
	font-size: 			100%;
    background: #D5D5D5;
}

/* hovered items */
.odd:hover,
.even:hover,
.hover {
    background: #CCFFCC;
    color: #000000;
}

/* hovered table rows */
table tr.odd:hover th,
table tr.even:hover th,
table tr.hover th {
    background:   #CCFFCC;
    color:   #000000;
}

